<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAFJaddOt1-Spdk7FEtE2cdrJmBgN1wEII</string>
	<key>GCM_SENDER_ID</key>
	<string>1009164629448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseQuizApp</string>
	<key>PROJECT_ID</key>
	<string>quizapp-34f4f</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-34f4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009164629448:ios:0951a674449aa879607cfd</string>
</dict>
</plist>